{% extends "base.html" %}

{% load permission_tags %}

{% block content %}

<h2>Inventory Received</h2>

{% if request.user|has_role:'store_owner' %}
<button type="button" class="btn btn-primary">
  <a href="{% url 'inventory:create-receiving' %}">Create new record</a>
</button>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product</th>
      <th>Distributor</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Delivery Date</th>
    </tr>
  </thead>
  <tbody>
    {% for received_inventory in receiving %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ received_inventory.product.name }}</td>
      <td>{{ received_inventory.distributor.name }}</td>
      <td>{{ received_inventory.quantity }}</td>
      <td>{{ received_inventory.distributor_price }}</td>
      <td>{{ received_inventory.delivery_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
