{% extends "base.html" %}

{% load permission_tags %}

{% block content %}
<h2>Orders</h2>
<button>
    <a href="{% url 'orders:create' %}">Add new order</a>
</button>
<ul>
    {% for order in orders %}
    <li>
        <div>
            <span>
                {{ order.customer.name }}
            <span>
            <span>
                {{ order.product.name }}
            <span>
            <span>
                {{ order.discount }}
            <span>
            <span>
                {{ order.price }}
            <span>
            <button>
                <a href="{% url 'orders:update' order.id %}">
                    Update
                </a>
            </button>
            {% if request.user|has_role:'store_owner' %}
            <button>
                <a href="{% url 'orders:delete' order.id %}">
                    Delete
                </a>
            </button>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
