{% extends "base.html" %}

{% load permission_tags %}

{% block content %}
<h2>Orders</h2>

<button  type="button" class="btn btn-primary">
  <a href="{% url 'orders:create' %}">Add new order</a>
</button>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Customer Name</th>
      <th>Product</th>
      <th>Discount Percentage</th>
      <th>Price</th>
      <th>Order Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ order.customer.name }}</td>
      <td>{{ order.product.name }}</td>
      <td>{{ order.discount }}</td>
      <td>{{ order.price }}</td>
      <td>
        <button type="button" class="btn btn-secondary">
          <a href="{% url 'orders:update' order.id %}">
            Update
          </a>
        </button>

        {% if request.user|has_role:'store_owner' %}
        <button type="button" class="btn btn-danger">
          <a href="{% url 'orders:delete' order.id %}">
            Delete
          </a>
        </button>
        {% endif %}

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
