{% extends "base.html" %}

{% block content %}
<h2>Employees</h2>
<button>
    <a href="{% url 'profile-create' %}">Add new employee</a>
</button>
<ul>
    {% for employee in employees %}
    <li>
        <div>
            <span>
                {{ employee.get_full_name }}
                {% if employee.locked %}
                 - Locked
                {% endif %}
            <span>
            <button>
                <a href="{% url 'profile-edit' employee.id %}">Edit profile</a>
            </button>
            <button>
                <a href="{% url 'profile-reset-password' employee.id %}">Reset password</a>
            </button>
            <button>
                <a href="{% url 'profile-lock' employee.id %}">Lock</a>
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
