{% extends "base.html" %}

{% block content %}
<h2>Employees</h2>
<button type="button" class="btn btn-primary">
  <a href="{% url 'accounts:create' %}">Add new employee</a>
</button>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Employee Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ account.get_full_name }}
        {% if account.locked %}
            - Locked
        {% endif %}
      </td>
      <td>
        <button type="button" class="btn btn-secondary">
          <a href="{% url 'accounts:update' account.id %}">Edit</a>
        </button>
        <button type="button" class="btn btn-secondary">
          <a href="{% url 'accounts:reset-password' account.id %}">Reset password</a>
        </button>
        <button type="button" class="btn btn-danger">
          <a href="{% url 'accounts:lock' account.id %}">Lock</a>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
