{% extends "accounts/base.html" %} 

{% block head_title %}Reset password{% endblock %} 

{% block inner %}

{% if new_password %}
  <p>{{ user.get_full_name }}'s password has been reset to: {{ new_password }}
  <button class="primaryAction btn btn-primary">
    <a href="{% url 'accounts:list' %}">Done</a>
  </button>
{% else %}
  <form method="POST">
    {% csrf_token %}

    <p>Reset password for {{ user.get_full_name }}?

    <button class="primaryAction btn btn-primary" type="submit">Reset</button>
  </form>
{% endif %}

{% endblock %}
