{% extends "base.html" %}

{% block content %}
<h2>Inventory Deliveries</h2>
<button>
    <a href="{% url 'inventory-delivery-add' %}">Add new delivery</a>
</button>
<ul>
    {% for delivery in deliveries %}
    <li>
        <div>
            <span>
                {{ delivery.product.name }}
            <span>
            <span>
                {{ delivery.distributor.name }}
            <span>
            <span>
                {{ delivery.quantity }}
            <span>
            <span>
                {{ delivery.distributor_price }}
            <span>
            <span>
                {{ delivery.delivery_date }}
            <span>

        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}