{% extends "base.html" %}

{% block content %}
<h2>Inventory</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Stock Quantity</th>
      <th scope="col">Last purchased on</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.orders.latest.created | date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
