{% extends "base.html" %}

{% block content %}
<h2>Customers</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Last Billed on</th>
      <th>Last bill amount</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.orders.latest.created|date }}</td>
      <td>{{ customer.orders.latest.price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
